name: check format

on:
  pull_request:
    branches:
      - master
    # paths:
    #   - frontend/src/**

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: Install yarn
        run: yarn
      - name: Lint
        run: yarn lint
      - name: Format
        run: yarn format
      - name: Check diff
        run: |
          git add .
          git diff --cached --exit-code
